<a href="https://colab.research.google.com/github/KHUSHI0ME/Python-Programming/blob/main/PY_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+4

7

In [ ]:
print("Hello World")

Hello World

In [ ]:
input("what is your name")  #this is my first python program

what is your namekhushi

'khushi'

In [ ]:
a=input("enter your name")
print("my Name is:" ,a)

enter your namekhushi
my Name is: khushi

In [ ]:
x=5
y= "hello"
print(x)
type(x)

5

int

In [ ]:
x="1234"
y=5        #not same datatype
x+y

TypeError: can only concatenate str (not "int") to str

In [ ]:
x="123"
y=5
int(x)+y      #convert itno string datatype

128

In [ ]:
x=3
y=x
print(id(x))   #id pata chalti h
  #id same aaayegi

10757800

In [ ]:
x=3
y=x

print(id(y))

10757800

In [ ]:
y=2
x=3

print(id(y))

10757768

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x=5
y=3+4j
int(x)+complex(y)        #j se complex store huya hua h

(8+4j)

In [ ]:
x=0b101
print(bin(x))
type (x)          #binary ka type pata karn eke liye bin use karte h

0b101

int

In [ ]:
4**2,3

(16, 3)

In [ ]:
20**40

10995116277760000000000000000000000000000000000000000

In [ ]:
+ and * had a dual meaning + for concentration in string

In [ ]:
"ab"*3

'ababab'

In * we write "ab"*3 so behavior will be repetition

In [ ]:
3 and x=4

SyntaxError: cannot assign to expression (ipython-input-33-2293034188.py, line 1)

In [ ]:
3 and 4>2

True

In [ ]:
a=5
b=10
print("a=",a)
print("b=",b)
print("addition:",a + b)
print("subtration:",a-b)
print(multiplication)

a= 5
b= 10
addition: 15

In [ ]:
a=5
b=10
print("subtraction:",a - b)

subtraction: -5

In [ ]:
5&6

4

ese operator jaha bit me value ho unhe bitwaise operator kehte h

In [ ]:
#type function

a = int(input("Enter number 1:"))

b = int(input("Enter number 2:"))

print("Number a is:",a)
print("Number b is:", b)
print("Sum is", int(a)+int(b))

Enter number 1:7
Enter number 2:9
Number a is: 7
Number b is: 9
Sum is 16

In [ ]:
# Assignment operators
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b += 3 #INCREMENT in the value of b and then assign value of b to it
print(b)

2
9

In [ ]:
#multipication assignment operator
d = 5
d*=6+6
print(d)

60

firstly 6+6 hoga and then d se multiply hoga

In [ ]:
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b -= 3 # DECREMENT in the value of b and then assign value of b to it
print(b)

2
3

iteration value bar baar repeat karne ke liye

In [ ]:
#division assignment operator
s = 65
s%=7*6
print(s)

23

In [ ]:
#AREA OF TRIANGLE PROGRAM

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate area by the formula : (1/2) * base * height
area = 0.5 * base * height


print("The area of the triangle is:", area)

Enter the base of the triangle: 7.8
Enter the height of the triangle: 9.0
The area of the triangle is: 35.1

In [ ]:
# Input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operation (+, -, *, /): ")

# Dictionary to perform operations
result = {
    '+': num1 + num2,
    '-': num1 - num2,
    '*': num1 * num2,
    '/': num1 / num2 if num2 != 0 else "Cannot divide by zero"
}.get(operator, "Invalid operator")

# Output the result
print("Result:", result)

Enter first number: 76
Enter second number: 87
Enter operation (+, -, *, /): +
Result: 163.0

In [ ]:
a = 65
b = 78
print(a+b)

143

problem : Problem: Write a program to add two numbers and display the result

In [ ]:
# CALCULATE AREA OF CIRCLE
pi = 3.14
radius = float(input ("Enter the radius of the circle : "))
# Calculate the area by using the formula

area = pi * radius * radius
print("area of circle", area)

Enter the radius of the circle : 65
area of circle 13266.5

In [ ]:
# CALCULATE SIMPLE INTEREST
P = 50
R = 80
T = 30
# Calculate by using the formula
SI = (P * R * T) / 100
print("Simple Interest", SI)

Simple Interest 1200.0

# use of import,as,form
module is the python file consisiting of python code
module can define functions,classes,and variables
jo keywords phle se hi define h aur hume use karn ah toh hum use import karwa sakte h
Math.py file that consist of function which we can use.
 () = yeh function define karta h ki yeh words function h

In [ ]:
import math
math.factorial(5)

120

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# from keywords in python
'''it is keyword used to import functions but once import it you can call thm directly without the module name.

syntax : from math import function

for all function:
  from math import*
  gcd(4,6)           greatest common difference
  2       '''

 '''x = 23
 print(x,y)
  print(x,",",y)
  print(x,y,sep,)'''

In [ ]:
# replacement operator in python
x = 10    #index 0
y = 3.5    #index 1
z = "akansha"    #index 2

print("hello,{2} x={0} y={1}".format(x,y,z))
print("hello,{} x={} y={}".format(x,y,z))
print("hello,{z} x={y} y= {x}".format(x=10,y=20,z="akansha"))

hello,akansha x=10 y=3.5
hello,10 x=3.5 y=akansha
hello,akansha x=20 y= 10

In [ ]:
# Even or Odd Number

num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 89
The number is odd.

In [ ]:
num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 78
The number is even.

statement (flow control in python)
decision control statement (if,if else,if elif else)
iterative statement (while,for)
transfer statement (break,continue and pass)

In [ ]:
# BASIC CALCULATOR PROGRAM

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
choice = int(input("Enter your choice (1/2/3/4):"))

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")


if choice == 1:
    result = num1 + num2
    print("Result:", result)
else:
    if choice == 2:
        result = num1 - num2
        print("Result:", result)
    else:
        if choice == 3:
            result = num1 * num2
            print("Result:", result)
        else:
            if choice == 4:
                if num2 != 0:
                    result = num1 / num2
                    print("Result:", result)
                else:
                    print("Error: Cannot divide by zero.")
            else:
                print("Invalid choice.")

Enter first number: 7
Enter second number: 8
Enter your choice (1/2/3/4):3
1. Addition
2. Subtraction
3. Multiplication
4. Division
Result: 56.0

In [ ]:
# KBC PROJECT
print(" Welcome to Kaun Banega Crorepati (KBC) ")
print("We will ask you 4 questions. Each correct answer earns you ₹15,000.")
print("Let's start the game!")

# Initial total money
money = 0

# QUESTION 1
print("\nQUESTION 1:")
print("Q1. What is the capital of India?")
print("A. Mumbai")
print("B. Delhi")
print("C. Kolkata")
print("D. Chennai")

answer1 = input("Enter your answer (A/B/C/D): ")
if answer1.upper() == "B": # Use .upper() to handle case-insensitive input
    print(" Correct!")
    money += 15000 # Use += to add to the money
    # QUESTION 2 (only if Q1 is correct)
    print("\nQUESTION 2:")
    print("Q2. Who is known as the founder of Python?")
    print("A. Guido Van Rossum")
    print("B. Alan Turing")
    print("C. Dennis Ritchie")
    print("D. Steve Jobs")

    answer2 = input("Enter your answer (A/B/C/D): ")

    if answer2.upper() == "A": # Use .upper() and correct the answer check
        print(" Correct!")
        money += 15000 # Add money for the second correct answer

        # QUESTION 3 (Add more questions similarly)
        # print("\nQUESTION 3:")
        # ...

        # QUESTION 4 (Add more questions similarly)
        # print("\nQUESTION 4:")
        # ...

        # Final Result (This part will only be reached if all questions are answered correctly)
        print(f"\n You won ₹{money} in total. Thanks for playing KBC!")

    else:
        print(" Wrong! The correct answer is A. Guido Van Rossum.")
        print("\n\tGame Over") # Corrected message
else:
    print(" Wrong! The correct answer is B. Delhi.") # Added correct answer for Q1
    print("\n\tGame Over") # Corrected message

 Welcome to Kaun Banega Crorepati (KBC)
We will ask you 4 questions. Each correct answer earns you ₹15,000.
Let's start the game!

QUESTION 1:
Q1. What is the capital of India?
A. Mumbai
B. Delhi
C. Kolkata
D. Chennai

In [ ]:
# Secret Castle Program
print('Welcome to the game (A SECREAT CASTLE)')

print("You must enter the secret code to open the castle door.")
print("Hint: The door only opens if the code is divisible by BOTH 3 and 5.")

# enter the code
code = int(input("Enter the secret code: "))

# Check conditions
if code % 3 == 0 and code % 5 == 0:
    print(" Access Granted! The door to the secret castle opens...")
elif code % 3 == 0:
    print(" You are close! The code is divisible by 3.")
elif code % 5 == 0:
    print(" You are close! The code is divisible by 5.")
else:
    print(" Access Denied! This is not the correct code.")

In [ ]:
#program of using while loop
x = 1
while x <= 5:
  print(x)
  x+=1
# Output 12345

1
2
3
4
5

In [ ]:
#REVERSE NUMBER PROGRAM
x = 10 # Start from 10
while x >= 1: # x is greater than or eual to 1
    print(x)
    x -= 1 # Decrement x

10
9
8
7
6
5
4
3
2
1

In [ ]:
# PROGRAM TO DETECT NUMBER "A" IN A NAME USING FOR LOOP
x = input("enter a string")
count = 0
for i in x:
  if i =="a":
   count +=1
print ("count=",count)

enter a string Khushi
count= 0

In [ ]:
#leap year program

range function that generates sequesnces ......
range starts with 0..........
note : syntax range(start,stop,step).........

In [ ]:
for x in range(5,10) :
  print(x)

5
6
7
8
9

In [ ]:
'''for x in range(10,5) :
  print(x)'''

In [ ]:
for x in range(1,20,2):
  print(x)

In [ ]:
# lists in python
'''lists are very smimliar to aaray but in python the values czn be expandable whuch gives and emormous advantage to it while
we can sstroe heterogeneous values as well
they can contain any type of variable
lists can also be iterted

SYNTAX :
l=[] // empty lists
 we generally use append function in order to append values in the list
 we can print in many ways which we will see in coming slides'''

In [ ]:
l = []
l.append(10)
l.append(20)
l.append(30)
print(l)

[10, 20, 30]

In [ ]:
l = []
l.append(10)
l.append(20)
l.append(30)
print(l[0],l[1],l[2])
for x in l:
  print(x)

10 20 30
10
20
30

In [ ]:

#List:deep diving
'''lists can be empty collection of integrer values collects of string collection of heterogeneous values

indexing of lists statrt from 0 jut like c
ex: l=[10,20,30] 10 in 0th index, 20 is at 1th index, 30 is at 2nd Index
if print(l[3]) it give give exception because list does not contain this character'''

In [ ]:
a = [10, 20]
a.insert(2, 30)     #kisi bhi particular value of insert kar sakte
print(a)

[10, 20, 30]

In [ ]:
a = [10, 20]
a.insert(1, 50)
print(a)

[10, 50, 20]

In [ ]:
a = [10, 20]
a.insert(-3,100)
print(a)

[100, 10, 20]

In [ ]:
'''we can use + operator in 2 lists that will append the data
if we try to add scaar values to list then it will give error
we can show the adding of scalar value that actually not append the lists
we can use compound assignment operators(+=,-=,<=,>=) to show or add scalar value in list'''

In [ ]:
A = [1,2,3]
B = [4,5,6]
C = A+B
print(C)

[1, 2, 3, 4, 5, 6]

In [ ]:
D= [1, 2, 3, 4, 5, 6]
D+[10]

[1, 2, 3, 4, 5, 6, 10]

In [ ]:
# USING + IN THE LISTS
A = [1,2,3]
B = [4,5,6]
C =B+A
print(C)

[4, 5, 6, 1, 2, 3]

In [ ]:
A = [1,2,3]
A += [10]          #we add two lists here and update the lists
print(A)

[1, 2, 3, 10]

In [ ]:
#OUTPUT OF USING * IN LISTS
D = [10,20]
D *= 3
print(D)

[10, 20, 10, 20, 10, 20]

In [ ]:
D = [10,20]
D*3                   #list can't be update here but in D*=3 here lists can be update
print(D)

[10, 20]

In [ ]:
#HOW TO EDIT TH VALUES IN LISTS
'''ex: Mylist=[10,20,30]
Mylist[0] = 100 //0th index is there
Output:[100,20,30]
we are able

#how to remove values
ex: we use function remove() on mylist
    mylist.remove(20)
    Mylist
    output'''

In [ ]:
D = [10,20]
D*=3
print(D)
D.remove(20)
print(D)

[10, 20, 10, 20, 10, 20]
[10, 10, 20, 10, 20]

In [ ]:
A = [30,40,200,300,48]
A.sort()
print(A)

[30, 40, 48, 200, 300]

In [ ]:
G = [1,2,3,4,5]
G.pop(3)
print(G)                 #clear and remove

[1, 2, 3, 5]

In [ ]:
# remove values of remove kar raha h just hata raha tha values return nhi karr raha tha list
#and pop index ki value ko delete kar deta h yeh return bhii kar deta h list

In [ ]:
'''index():
to find out the index of particular value '''

A = [10,20,30,40]
A. index(30)

2

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10)

0

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10,1)

4

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10,1,6)           #hum range define kar rhe h isme 1 to 6 me 10 kaa index

4

In [ ]:
#count(): it helps to find out the occurence of the number in the lists
S = [10,20,30,40,10,20,30,10]
S.count(10)

3

In [ ]:
# how you will find lists of all function use in python
'''help(lists name)

for example : help(list)'''

In [ ]:
#FRUITS BASKET PROGRAM
fruits = []

f1 = input("Enter Fruit Name:")
fruits.append(f1)
f2 = input("Enter Fruit Name:")
fruits.append(f2)
f3 = input("Enter Fruit Name:")
fruits.append(f3)
f4= input("Enter Fruit Name:")
fruits.append(f4)
f5= input("Enter Fruit Name:")
fruits.append(f5)
f6 = input("Enter Fruit Name:")
fruits.append(f6)
f7 = input("Enter Fruit Name:")
fruits.append(f7)

print(fruits)

Enter Fruit Name:Apple
Enter Fruit Name:Grapes
Enter Fruit Name:Pineapple
Enter Fruit Name:Papaya
Enter Fruit Name:Lichi
Enter Fruit Name:Orange
Enter Fruit Name:Strawberry
['Apple', 'Grapes', 'Pineapple', 'Papaya ', 'Lichi ', 'Orange ', 'Strawberry']

In [ ]:
A = ['Apple', 'Banana ', 'Grapes ', 'Pineapple', 'Lichi ', 'Strawberry', 'Papaya ']
#A.sort()
#A.remove('Grapes ')
A.pop(5)
print(A)

['Apple', 'Banana ', 'Grapes ', 'Pineapple', 'Lichi ', 'Papaya ']

In [ ]:
#Write a program to accept marks of 6 students and displsy them in a sorted manner

marks = []
S1 = input("Enter Marks:")
marks.append(S1)
S2 = input("Enter Marks:")
marks.append(S2)
S3 = input("Enter Marks:")
marks.append(S3)
S4 = input("Enter Marks:")
marks.append(S4)
S5 = input("Enter Marks:")
marks.append(S5)
S6 = input("Enter Marks:")
marks.append(S6)
print(marks)

Enter Marks:100
Enter Marks:50
Enter Marks:26
Enter Marks:37
Enter Marks:78
Enter Marks:12
['100', '50', '26', '37', '78', '12']

In [ ]:
marks = []
S1 = input("Enter Marks:")
marks.append(S1)
S2 = input("Enter Marks:")
marks.append(S2)
S3 = input("Enter Marks:")
marks.append(S3)
S4 = input("Enter Marks:")
marks.append(S4)
S5 = input("Enter Marks:")
marks.append(S5)
S6 = input("Enter Marks:")
marks.append(S6)

marks.sort()
print(marks)

Enter Marks:100
Enter Marks:25
Enter Marks:50
Enter Marks:70
Enter Marks:12
Enter Marks:56
['100', '12', '25', '50', '56', '70']

In [ ]:
#Write a program to sum two list
A = [10,30,60]
B = [50,70,90]
C = A+B
print(C)

[10, 30, 60, 50, 70, 90]

In [ ]:
# Write a program to sum a list with 4 number
numbers = [10, 20, 30, 40]

# Calculate the sum
total = sum(numbers)

# Print the result
print("The sum of the list is:", total)

The sum of the list is: 100

In [ ]:
#Write a program  to count the number of zeroes in the following list
A = [10,20,40,10,50,50,60,30,60,50]
A.count(50)

3

In [ ]:
# prompt: #Check that a type cannot be changed in python

# Python variables are dynamically typed, meaning the type of a variable can change during execution.
# However, the *value* stored in a variable is of a specific type, and that value's type itself is immutable.
# You cannot change the type of an existing value object, but you can reassign the variable to point to a
# new value of a different type.

x = 5  # x is an integer
str(x)
print(type(x))

x = "hello"  # x is now a string
print(type(x))

# The original integer object `5` still exists, its type hasn't changed.
# The variable `x` has simply been rebound to a different object of a different type.

# This is different from some other languages where variables are statically typed,
# meaning a variable is declared to hold a specific type of value and cannot hold
# values of other types.

<class 'int'>
<class 'str'>

In [ ]:
# Fruit Basket Program with List Methods

# Initial Basket is Empty
fruit_basket = []

print(" Welcome to the Fruit Basket Program ")
print("Enter 4 fruits to add to your basket:")

# Add some fruits using user input
for i in range(4):
    fruit = input(f"Enter fruit {i+1}: ")
    fruit_basket.append(fruit)

print("\nCurrent fruit basket:", fruit_basket)

# Insert a fruit
insert_fruit = input("Enter a fruit to insert: ")
position = int(input(f"Enter the position (0 to {len(fruit_basket)}): "))
fruit_basket.insert(position, insert_fruit)
print(f"\nAfter inserting {insert_fruit} at position {position}:", fruit_basket)

# Remove a fruit
remove_fruit = input("Enter the name of the fruit to remove: ")
if remove_fruit in fruit_basket:
    fruit_basket.remove(remove_fruit)
    print(f"\nAfter removing {remove_fruit}:", fruit_basket)
else:
    print(f"\n{remove_fruit} not found in the basket.")

# Sort the fruits alphabetically
fruit_basket.sort()
print("\nSorted fruit basket:", fruit_basket)

# Reverse the list
fruit_basket.reverse()
print("\nReversed fruit basket:", fruit_basket)

# Pop the last fruit
if fruit_basket:
    last_fruit = fruit_basket.pop()
    print(f"\nRemoved last fruit: {last_fruit}")
    print("Basket after popping last fruit:", fruit_basket)
else:
    print("\nCannot pop from an empty basket.")

# Clear the basket
fruit_basket.clear()
print("\nBasket after clearing all fruits:", fruit_basket)

 Welcome to the Fruit Basket Program
Enter 4 fruits to add to your basket:
Enter fruit 1: Apple
Enter fruit 2: Pineapple
Enter fruit 3: Chiku
Enter fruit 4: Banana

Current fruit basket: ['Apple', 'Pineapple', 'Chiku', 'Banana ']
Enter a fruit to insert: Grapes
Enter the position (0 to 4): 3

After inserting Grapes at position 3: ['Apple', 'Pineapple', 'Chiku', 'Grapes', 'Banana ']
Enter the name of the fruit to remove: Apple

After removing Apple: ['Pineapple', 'Chiku', 'Grapes', 'Banana ']

Sorted fruit basket: ['Banana ', 'Chiku', 'Grapes', 'Pineapple']

Reversed fruit basket: ['Pineapple', 'Grapes', 'Chiku', 'Banana ']

Removed last fruit: Banana
Basket after popping last fruit: ['Pineapple', 'Grapes', 'Chiku']

Basket after clearing all fruits: []

In [ ]:
'''strings are bit of text they can be defined as anything bettwen quotes
how to print the following
Don't touch it
"google.com"

Teacher's Day is "My Day"'''

In [ ]:
S = "Don't touch it"
print(S)

Don't touch it

In [ ]:
A = "'google.com'"
print(A)

'google.com'

In [ ]:
A = '"My Day"'
print(A)

"My Day"

In [ ]:
#len(): it is used to find lenght of the string
S1 = "Akanksha is teaching DBMS and Python"
len(S1)

36

In [ ]:
"Harry".index('a')

1

In [ ]:
'''Example : to extract DBMS from string by default the step value is +1
Beginning value included but ending value excluded
s1[19:23]
here 19 index has '23' and 24 index has space'''

In [ ]:
# Strings problem
# PROBLEM 1
name = "khushi"
age = 18
print(f"My name is {name} and I am {age} years old")

name = input("Enter your name:")

print(f"Good Afternoon , {name}")

My name is khushi and I am 18 years old
Enter your name:Khushi
Good Afternoon , Khushi

In [ ]:
#PROBLEM 2
letter = '''Dear <|Name|>,
You are selected!
<|Date|>'''

print(letter.replace("<|Name|>","Harry").replace("<|Date|","24 september 2050"))

Dear Harry,
You are selected!
24 september 2050>

In [ ]:
#PROBLEM 3
name = "Harry is a good  boy and  "

print(name.find(""))
# result -1 aata h toh double spacing nhi h aagr nhi aata h kloi positive number aata h toh double spacing h
# Find string is used to detect h double space in a string
# replacd string is used to replace the double string into single string
# string are immutable -- That's mean name string (actual string)woh change nhi hui h ek new string bani aur woh change hui h

0

In [ ]:
#PROBLEM 4
letter = "Dear Harry,\n\tThis python course is nice,\nThanks!"
print(letter)

Dear Harry,
	This python course is nice,
Thanks!

In [ ]:
#TUPLE
'''tuple is also a type of sequence we use parenthesis
we can do changes in list not in tuple
tuple are immutable
#HOW TO CREATE TUPLE'''
'''t = ()
type() //show tuple
but if you write

t = (10) then it is an integer
type(t)  // show integer

how we can make tuple of single value
t=(10,)
type(t)    //comma is required'''

In [ ]:
t=(10,)
type(t)

tuple

In [ ]:
l = [11,22,33,44]
t = tuple(l)
type(l)            #we can store list as a tuple also

list

In [ ]:
t = tuple(21,22,33)
type(t)

TypeError: tuple expected at most 1 argument, got 3

In [ ]:
a = 1
b=2
c=3
t=a,b,c
print(t)

type(t)

(1, 2, 3)

tuple

In [ ]:
t = (10,20,30)
a,b,c            #how to discreate values

In [ ]:
A = 1,2,3
B = 5,6,7
C = print(A+B)

(1, 2, 3, 5, 6, 7)

In [ ]:
# tuple will not be change if repetition operator is access
#but if you want to to change the update the tuple then you will

In [ ]:
'''a=1,2,3
b=4,5,6
a=b           # assignment operators right to left precedence h
a==b  #true

c=1,2,4
a==c         #false

A<C
false because we take tuple in small a and b'''

In [ ]:
'''we can use 2 method for taking input as tuple
1. tuple(input()): as input () will return string that will be converted itno tuple which will be stored in variable
see in example that will consider ',' as a part of tuple'''

#input hamesha string leti h

In [ ]:
a = tuple(input("Enter your name"))
print(a)

Enter your name khushi
(' ', 'k', 'h', 'u', 's', 'h', 'i')

In [ ]:
#eval
eval("5+2")

7

In [ ]:
x = eval(input("enter a tuple"))
print(x)                            # eval jo bhi input me lete ho woh expression ki tarah treat karta h and jaha bhi eval loge waha expression bhi calsulate kar sakte ho

type(x)

enter a tuple 1,2,3
(1, 2, 3)

tuple

In [ ]:
t = (1, 2, 3, 5, 6, 7,8,9,10)      #sum of tuple
sum(t)

51

In [ ]:
t = (1, 2, 3, 5, 6, 7,8,9,10)
len(t)                             #length of tuple    syntax: length(variable)

9

In [ ]:
a = (1,2,1,3,1,4,1,5,6,7)
a.count(1)                   #count the element in tuple      syntax: variable.count(element)

4

In [ ]:
a = (1,2,1,3,1,4,1,5,6,7)
a.index(4)                   #indexing in tuple           syntax: variable.index(element)

5

In [ ]:
a = (1,2,1,3,1,4,1,5,6,7)
max(a)                     #maximum value in a particular tuple    #syntax: max(variable)

7

In [ ]:
a = (2,6,7,8,10,100,50)
min(a)                           #minimun value in a particular tuple   #syntax: min(variable)

2

In [ ]:
A = [10,100,200,500,60]
min(A)

10

In [ ]:
A = [10,100,200,500,60]
max(A)

500

In [ ]:
A = [100,500,1000,]
B = [600,700,300]
max(A+B)

1000

In [ ]:
A = [100,500,1000,]
B = [600,700,300]
min(A+B)

100