<a href="https://colab.research.google.com/github/KHUSHI0ME/Python-Programming/blob/main/PY_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+4

7

In [ ]:
print("Hello World")

Hello World

In [ ]:
input("what is your name")  #this is my first python program

what is your namekhushi

'khushi'

In [ ]:
a=input("enter your name")
print("my Name is:" ,a)

enter your namekhushi
my Name is: khushi

In [ ]:
x=5
y= "hello"
print(x)
type(x)

5

int

In [ ]:
x="1234"
y=5        #not same datatype
x+y

TypeError: can only concatenate str (not "int") to str

In [ ]:
x="123"
y=5
int(x)+y      #convert itno string datatype

128

In [ ]:
x=3
y=x
print(id(x))   #id pata chalti h
  #id same aaayegi

10757800

In [ ]:
x=3
y=x

print(id(y))

10757800

In [ ]:
y=2
x=3

print(id(y))

10757768

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x=5
y=3+4j
int(x)+complex(y)        #j se complex store huya hua h

(8+4j)

In [ ]:
x=0b101
print(bin(x))
type (x)          #binary ka type pata karn eke liye bin use karte h

0b101

int

In [ ]:
4**2,3

(16, 3)

In [ ]:
20**40

10995116277760000000000000000000000000000000000000000

In [ ]:
+ and * had a dual meaning + for concentration in string

In [ ]:
"ab"*3

'ababab'

In * we write "ab"*3 so behavior will be repetition

In [ ]:
3 and x=4

SyntaxError: cannot assign to expression (ipython-input-33-2293034188.py, line 1)

In [ ]:
3 and 4>2

True

In [ ]:
a=5
b=10
print("a=",a)
print("b=",b)
print("addition:",a + b)
print("subtration:",a-b)
print(multiplication)

a= 5
b= 10
addition: 15

In [ ]:
a=5
b=10
print("subtraction:",a - b)

subtraction: -5

In [ ]:
5&6

4

ese operator jaha bit me value ho unhe bitwaise operator kehte h

In [ ]:
#type function

a = int(input("Enter number 1:"))

b = int(input("Enter number 2:"))

print("Number a is:",a)
print("Number b is:", b)
print("Sum is", int(a)+int(b))

Enter number 1:7
Enter number 2:9
Number a is: 7
Number b is: 9
Sum is 16

In [ ]:
# Assignment operators
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b += 3 #INCREMENT in the value of b and then assign value of b to it
print(b)

2
9

In [ ]:
#multipication assignment operator
d = 5
d*=6+6
print(d)

60

firstly 6+6 hoga and then d se multiply hoga

In [ ]:
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b -= 3 # DECREMENT in the value of b and then assign value of b to it
print(b)

2
3

iteration value bar baar repeat karne ke liye

In [ ]:
#division assignment operator
s = 65
s%=7*6
print(s)

23

In [ ]:
#AREA OF TRIANGLE PROGRAM

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate area by the formula : (1/2) * base * height
area = 0.5 * base * height


print("The area of the triangle is:", area)

Enter the base of the triangle: 7.8
Enter the height of the triangle: 9.0
The area of the triangle is: 35.1

In [ ]:
# Input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operation (+, -, *, /): ")

# Dictionary to perform operations
result = {
    '+': num1 + num2,
    '-': num1 - num2,
    '*': num1 * num2,
    '/': num1 / num2 if num2 != 0 else "Cannot divide by zero"
}.get(operator, "Invalid operator")

# Output the result
print("Result:", result)

Enter first number: 76
Enter second number: 87
Enter operation (+, -, *, /): +
Result: 163.0

In [ ]:
a = 65
b = 78
print(a+b)

143

problem : Problem: Write a program to add two numbers and display the result

In [ ]:
# CALCULATE AREA OF CIRCLE
pi = 3.14
radius = float(input ("Enter the radius of the circle : "))
# Calculate the area by using the formula

area = pi * radius * radius
print("area of circle", area)

Enter the radius of the circle : 65
area of circle 13266.5

In [ ]:
# CALCULATE SIMPLE INTEREST
P = 50
R = 80
T = 30
# Calculate by using the formula
SI = (P * R * T) / 100
print("Simple Interest", SI)

Simple Interest 1200.0

# use of import,as,form
module is the python file consisiting of python code
module can define functions,classes,and variables
jo keywords phle se hi define h aur hume use karn ah toh hum use import karwa sakte h
Math.py file that consist of function which we can use.
 () = yeh function define karta h ki yeh words function h

In [ ]:
import math
math.factorial(5)

120

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# from keywords in python
'''it is keyword used to import functions but once import it you can call thm directly without the module name.

syntax : from math import function

for all function:
  from math import*
  gcd(4,6)           greatest common difference
  2       '''

 '''x = 23
 print(x,y)
  print(x,",",y)
  print(x,y,sep,)'''

In [ ]:
# replacement operator in python
x = 10    #index 0
y = 3.5    #index 1
z = "akansha"    #index 2

print("hello,{2} x={0} y={1}".format(x,y,z))
print("hello,{} x={} y={}".format(x,y,z))
print("hello,{z} x={y} y= {x}".format(x=10,y=20,z="akansha"))

hello,akansha x=10 y=3.5
hello,10 x=3.5 y=akansha
hello,akansha x=20 y= 10

In [ ]:
# Even or Odd Number

num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 89
The number is odd.

In [ ]:
num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 78
The number is even.

statement (flow control in python)
decision control statement (if,if else,if elif else)
iterative statement (while,for)
transfer statement (break,continue and pass)