<a href="https://colab.research.google.com/github/KHUSHI0ME/Python-Programming/blob/main/PY_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+4

7

In [ ]:
print("Hello World")

Hello World

In [ ]:
input("what is your name")  #this is my first python program

In [ ]:
a=input("enter your name")
print("my Name is:" ,a)

In [ ]:
x=5
y= "hello"
print(x)
type(x)

In [ ]:
x="1234"
y=5        #not same datatype
x+y

In [ ]:
x="123"
y=5
int(x)+y      #convert itno string datatype

In [ ]:
x=3
y=x
print(id(x))   #id pata chalti h
  #id same aaayegi

In [ ]:
x=3
y=x

print(id(y))

In [ ]:
y=2
x=3

print(id(y))

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
x=5
y=3+4j
int(x)+complex(y)        #j se complex store huya hua h

In [ ]:
x=0b101
print(bin(x))
type (x)          #binary ka type pata karn eke liye bin use karte h

In [ ]:
4**2,3

In [ ]:
20**40

In [ ]:
+ and * had a dual meaning + for concentration in string

In [ ]:
"ab"*3

In * we write "ab"*3 so behavior will be repetition

In [ ]:
3 and x=4

In [ ]:
3 and 4>2

In [ ]:
a=5
b=10
print("a=",a)
print("b=",b)
print("addition:",a + b)
print("subtration:",a-b)
print(multiplication)

In [ ]:
a=5
b=10
print("subtraction:",a - b)

In [ ]:
5&6

ese operator jaha bit me value ho unhe bitwaise operator kehte h

In [ ]:
#type function

a = int(input("Enter number 1:"))

b = int(input("Enter number 2:"))

print("Number a is:",a)
print("Number b is:", b)
print("Sum is", int(a)+int(b))

In [ ]:
# Assignment operators
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b += 3 #INCREMENT in the value of b and then assign value of b to it
print(b)

In [ ]:
#multipication assignment operator
d = 5
d*=6+6
print(d)

firstly 6+6 hoga and then d se multiply hoga

In [ ]:
a = 4-2 #Assign 4-2 in a
print (a)
b = 6
b -= 3 # DECREMENT in the value of b and then assign value of b to it
print(b)

iteration value bar baar repeat karne ke liye

In [ ]:
#division assignment operator
s = 65
s%=7*6
print(s)

In [ ]:
#AREA OF TRIANGLE PROGRAM

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate area by the formula : (1/2) * base * height
area = 0.5 * base * height


print("The area of the triangle is:", area)

In [ ]:
# Input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operation (+, -, *, /): ")

# Dictionary to perform operations
result = {
    '+': num1 + num2,
    '-': num1 - num2,
    '*': num1 * num2,
    '/': num1 / num2 if num2 != 0 else "Cannot divide by zero"
}.get(operator, "Invalid operator")

# Output the result
print("Result:", result)

In [ ]:
a = 65
b = 78
print(a+b)

problem : Problem: Write a program to add two numbers and display the result

In [ ]:
# CALCULATE AREA OF CIRCLE
pi = 3.14
radius = float(input ("Enter the radius of the circle : "))
# Calculate the area by using the formula

area = pi * radius * radius
print("area of circle", area)

In [ ]:
# CALCULATE SIMPLE INTEREST
P = 50
R = 80
T = 30
# Calculate by using the formula
SI = (P * R * T) / 100
print("Simple Interest", SI)

# use of import,as,form
module is the python file consisiting of python code
module can define functions,classes,and variables
jo keywords phle se hi define h aur hume use karn ah toh hum use import karwa sakte h
Math.py file that consist of function which we can use.
 () = yeh function define karta h ki yeh words function h

In [ ]:
import math
math.factorial(5)

In [ ]:
import math
math.sqrt(25)

In [ ]:
help(math)

In [ ]:
# from keywords in python
'''it is keyword used to import functions but once import it you can call thm directly without the module name.

syntax : from math import function

for all function:
  from math import*
  gcd(4,6)           greatest common difference
  2       '''

 '''x = 23
 print(x,y)
  print(x,",",y)
  print(x,y,sep,)'''

In [ ]:
# replacement operator in python
x = 10    #index 0
y = 3.5    #index 1
z = "akansha"    #index 2

print("hello,{2} x={0} y={1}".format(x,y,z))
print("hello,{} x={} y={}".format(x,y,z))
print("hello,{z} x={y} y= {x}".format(x=10,y=20,z="akansha"))

In [ ]:
# Even or Odd Number

num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

In [ ]:
num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:

    print("The number is even.")
else:
    print("The number is odd.")

statement (flow control in python)
decision control statement (if,if else,if elif else)
iterative statement (while,for)
transfer statement (break,continue and pass)

In [ ]:
# BASIC CALCULATOR PROGRAM

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
choice = int(input("Enter your choice (1/2/3/4):"))

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")


if choice == 1:
    result = num1 + num2
    print("Result:", result)
else:
    if choice == 2:
        result = num1 - num2
        print("Result:", result)
    else:
        if choice == 3:
            result = num1 * num2
            print("Result:", result)
        else:
            if choice == 4:
                if num2 != 0:
                    result = num1 / num2
                    print("Result:", result)
                else:
                    print("Error: Cannot divide by zero.")
            else:
                print("Invalid choice.")

In [ ]:
# KBC PROJECT
print(" Welcome to Kaun Banega Crorepati (KBC) ")
print("We will ask you 4 questions. Each correct answer earns you ₹15,000.")
print("Let's start the game!")

# Initial total money
money = 0

# QUESTION 1
print("\nQUESTION 1:")
print("Q1. What is the capital of India?")
print("A. Mumbai")
print("B. Delhi")
print("C. Kolkata")
print("D. Chennai")

answer1 = input("Enter your answer (A/B/C/D): ")
if answer1.upper() == "B": # Use .upper() to handle case-insensitive input
    print(" Correct!")
    money += 15000 # Use += to add to the money
    # QUESTION 2 (only if Q1 is correct)
    print("\nQUESTION 2:")
    print("Q2. Who is known as the founder of Python?")
    print("A. Guido Van Rossum")
    print("B. Alan Turing")
    print("C. Dennis Ritchie")
    print("D. Steve Jobs")

    answer2 = input("Enter your answer (A/B/C/D): ")

    if answer2.upper() == "A": # Use .upper() and correct the answer check
        print(" Correct!")
        money += 15000 # Add money for the second correct answer

        # QUESTION 3 (Add more questions similarly)
        # print("\nQUESTION 3:")
        # ...

        # QUESTION 4 (Add more questions similarly)
        # print("\nQUESTION 4:")
        # ...

        # Final Result (This part will only be reached if all questions are answered correctly)
        print(f"\n You won ₹{money} in total. Thanks for playing KBC!")

    else:
        print(" Wrong! The correct answer is A. Guido Van Rossum.")
        print("\n\tGame Over") # Corrected message
else:
    print(" Wrong! The correct answer is B. Delhi.") # Added correct answer for Q1
    print("\n\tGame Over") # Corrected message

In [ ]:
# Secret Castle Program
print('Welcome to the game (A SECREAT CASTLE)')

print("You must enter the secret code to open the castle door.")
print("Hint: The door only opens if the code is divisible by BOTH 3 and 5.")

# enter the code
code = int(input("Enter the secret code: "))

# Check conditions
if code % 3 == 0 and code % 5 == 0:
    print(" Access Granted! The door to the secret castle opens...")
elif code % 3 == 0:
    print(" You are close! The code is divisible by 3.")
elif code % 5 == 0:
    print(" You are close! The code is divisible by 5.")
else:
    print(" Access Denied! This is not the correct code.")

In [ ]:
#program of using while loop
x = 1
while x <= 5:
  print(x)
  x+=1
# Output 12345

In [ ]:
#REVERSE NUMBER PROGRAM
x = 10 # Start from 10
while x >= 1: # x is greater than or eual to 1
    print(x)
    x -= 1 # Decrement x

In [ ]:
# PROGRAM TO DETECT NUMBER "A" IN A NAME USING FOR LOOP
x = input("enter a string")
count = 0
for i in x:
  if i =="a":
   count +=1
print ("count=",count)

In [ ]:
#leap year program

range function that generates sequesnces ......
range starts with 0..........
note : syntax range(start,stop,step).........

In [ ]:
for x in range(5,10) :
  print(x)

In [ ]:
'''for x in range(10,5) :
  print(x)'''

In [ ]:
for x in range(1,20,2):
  print(x)

In [ ]:
# lists(datatypes) in python
'''lists are very smimliar to aaray but in python the values czn be expandable whuch gives and emormous advantage to it while
we can sstroe heterogeneous values as well
they can contain any type of variable
lists can also be iterted

SYNTAX :
l=[] // empty lists
 we generally use append function in order to append values in the list
 we can print in many ways which we will see in coming slides'''

In [ ]:
l = []
l.append(10)
l.append(20)
l.append(30)
print(l)

In [ ]:
l = []
l.append(10)
l.append(20)
l.append(30)
print(l[0],l[1],l[2])
for x in l:
  print(x)

In [ ]:

#List:deep diving
'''lists can be empty collection of integrer values collects of string collection of heterogeneous values

indexing of lists statrt from 0 jut like c
ex: l=[10,20,30] 10 in 0th index, 20 is at 1th index, 30 is at 2nd Index
if print(l[3]) it give give exception because list does not contain this character'''

In [ ]:
a = [10, 20]
a.insert(2, 30)     #kisi bhi particular value of insert kar sakte
print(a)

In [ ]:
a = [10, 20]
a.insert(1, 50)
print(a)

In [ ]:
a = [10, 20]
a.insert(-3,100)
print(a)

In [ ]:
'''we can use + operator in 2 lists that will append the data
if we try to add scaar values to list then it will give error
we can show the adding of scalar value that actually not append the lists
we can use compound assignment operators(+=,-=,<=,>=) to show or add scalar value in list'''

In [ ]:
A = [1,2,3]
B = [4,5,6]
C = A+B
print(C)

In [ ]:
D= [1, 2, 3, 4, 5, 6]
D+[10]

In [ ]:
# USING + IN THE LISTS
A = [1,2,3]
B = [4,5,6]
C =B+A
print(C)

In [ ]:
A = [1,2,3]
A += [10]          #we add two lists here and update the lists
print(A)

In [ ]:
#OUTPUT OF USING * IN LISTS
D = [10,20]
D *= 3
print(D)

In [ ]:
D = [10,20]
D*3                   #list can't be update here but in D*=3 here lists can be update
print(D)

In [ ]:
#HOW TO EDIT TH VALUES IN LISTS
'''ex: Mylist=[10,20,30]
Mylist[0] = 100 //0th index is there
Output:[100,20,30]
we are able

#how to remove values
ex: we use function remove() on mylist
    mylist.remove(20)
    Mylist
    output'''

In [ ]:
D = [10,20]
D*=3
print(D)
D.remove(20)
print(D)

In [ ]:
A = [30,40,200,300,48]
A.sort()
print(A)

In [ ]:
G = [1,2,3,4,5]
G.pop(3)
print(G)                 #clear and remove

In [ ]:
# remove values of remove kar raha h just hata raha tha values return nhi karr raha tha list
#and pop index ki value ko delete kar deta h yeh return bhii kar deta h list

In [ ]:
'''index():
to find out the index of particular value '''

A = [10,20,30,40]
A. index(30)

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10)

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10,1)

In [ ]:
A =[10,20,30,40,10,20,30,10]
A.index(10,1,6)           #hum range define kar rhe h isme 1 to 6 me 10 kaa index

In [ ]:
#count(): it helps to find out the occurence of the number in the lists
S = [10,20,30,40,10,20,30,10]
S.count(10)

In [ ]:
# how you will find lists of all function use in python
'''help(lists name)

for example : help(list)'''

In [ ]:
#FRUITS BASKET PROGRAM
fruits = []

f1 = input("Enter Fruit Name:")
fruits.append(f1)
f2 = input("Enter Fruit Name:")
fruits.append(f2)
f3 = input("Enter Fruit Name:")
fruits.append(f3)
f4= input("Enter Fruit Name:")
fruits.append(f4)
f5= input("Enter Fruit Name:")
fruits.append(f5)
f6 = input("Enter Fruit Name:")
fruits.append(f6)
f7 = input("Enter Fruit Name:")
fruits.append(f7)

print(fruits)

In [ ]:
A = ['Apple', 'Banana ', 'Grapes ', 'Pineapple', 'Lichi ', 'Strawberry', 'Papaya ']
#A.sort()
#A.remove('Grapes ')
A.pop(5)
print(A)

In [ ]:
#Write a program to accept marks of 6 students and displsy them in a sorted manner

marks = []
S1 = input("Enter Marks:")
marks.append(S1)
S2 = input("Enter Marks:")
marks.append(S2)
S3 = input("Enter Marks:")
marks.append(S3)
S4 = input("Enter Marks:")
marks.append(S4)
S5 = input("Enter Marks:")
marks.append(S5)
S6 = input("Enter Marks:")
marks.append(S6)
print(marks)

In [ ]:
marks = []
S1 = input("Enter Marks:")
marks.append(S1)
S2 = input("Enter Marks:")
marks.append(S2)
S3 = input("Enter Marks:")
marks.append(S3)
S4 = input("Enter Marks:")
marks.append(S4)
S5 = input("Enter Marks:")
marks.append(S5)
S6 = input("Enter Marks:")
marks.append(S6)

marks.sort()
print(marks)

In [ ]:
#Write a program to sum two list
A = [10,30,60]
B = [50,70,90]
C = A+B
print(C)

In [ ]:
# Write a program to sum a list with 4 number
numbers = [10, 20, 30, 40]

# Calculate the sum
total = sum(numbers)

# Print the result
print("The sum of the list is:", total)

In [ ]:
#Write a program  to count the number of zeroes in the following list
A = [10,20,40,10,50,50,60,30,60,50]
A.count(50)

In [ ]:
# prompt: #Check that a type cannot be changed in python

# Python variables are dynamically typed, meaning the type of a variable can change during execution.
# However, the *value* stored in a variable is of a specific type, and that value's type itself is immutable.
# You cannot change the type of an existing value object, but you can reassign the variable to point to a
# new value of a different type.

x = 5  # x is an integer
str(x)
print(type(x))

x = "hello"  # x is now a string
print(type(x))

# The original integer object `5` still exists, its type hasn't changed.
# The variable `x` has simply been rebound to a different object of a different type.

# This is different from some other languages where variables are statically typed,
# meaning a variable is declared to hold a specific type of value and cannot hold
# values of other types.

In [ ]:
# Fruit Basket Program with List Methods

# Initial Basket is Empty
fruit_basket = []

print(" Welcome to the Fruit Basket Program ")
print("Enter 4 fruits to add to your basket:")

# Add some fruits using user input
for i in range(4):
    fruit = input(f"Enter fruit {i+1}: ")
    fruit_basket.append(fruit)

print("\nCurrent fruit basket:", fruit_basket)

# Insert a fruit
insert_fruit = input("Enter a fruit to insert: ")
position = int(input(f"Enter the position (0 to {len(fruit_basket)}): "))
fruit_basket.insert(position, insert_fruit)
print(f"\nAfter inserting {insert_fruit} at position {position}:", fruit_basket)

# Remove a fruit
remove_fruit = input("Enter the name of the fruit to remove: ")
if remove_fruit in fruit_basket:
    fruit_basket.remove(remove_fruit)
    print(f"\nAfter removing {remove_fruit}:", fruit_basket)
else:
    print(f"\n{remove_fruit} not found in the basket.")

# Sort the fruits alphabetically
fruit_basket.sort()
print("\nSorted fruit basket:", fruit_basket)

# Reverse the list
fruit_basket.reverse()
print("\nReversed fruit basket:", fruit_basket)

# Pop the last fruit
if fruit_basket:
    last_fruit = fruit_basket.pop()
    print(f"\nRemoved last fruit: {last_fruit}")
    print("Basket after popping last fruit:", fruit_basket)
else:
    print("\nCannot pop from an empty basket.")

# Clear the basket
fruit_basket.clear()
print("\nBasket after clearing all fruits:", fruit_basket)

In [ ]:
'''strings are bit of text they can be defined as anything bettwen quotes
how to print the following
Don't touch it
"google.com"

Teacher's Day is "My Day"'''

In [ ]:
S = "Don't touch it"
print(S)

In [ ]:
A = "'google.com'"
print(A)

In [ ]:
A = '"My Day"'
print(A)

In [ ]:
#len(): it is used to find lenght of the string
S1 = "Akanksha is teaching DBMS and Python"
len(S1)

In [ ]:
"Harry".index('a')

In [ ]:
'''Example : to extract DBMS from string by default the step value is +1
Beginning value included but ending value excluded
s1[19:23]
here 19 index has '23' and 24 index has space'''

In [ ]:
# Strings problem
# PROBLEM 1
name = "khushi"
age = 18
print(f"My name is {name} and I am {age} years old")

name = input("Enter your name:")

print(f"Good Afternoon , {name}")

In [ ]:
#PROBLEM 2
letter = '''Dear <|Name|>,
You are selected!
<|Date|>'''

print(letter.replace("<|Name|>","Harry").replace("<|Date|","24 september 2050"))

In [ ]:
#PROBLEM 3
name = "Harry is a good  boy and  "

print(name.find(""))
# result -1 aata h toh double spacing nhi h aagr nhi aata h kloi positive number aata h toh double spacing h
# Find string is used to detect h double space in a string
# replacd string is used to replace the double string into single string
# string are immutable -- That's mean name string (actual string)woh change nhi hui h ek new string bani aur woh change hui h

In [ ]:
#PROBLEM 4
letter = "Dear Harry,\n\tThis python course is nice,\nThanks!"
print(letter)

In [ ]:
#TUPLE
'''tuple is also a type of sequence we use parenthesis
we can do changes in list not in tuple
tuple are immutable
#HOW TO CREATE TUPLE'''
'''t = ()
type() //show tuple
but if you write

t = (10) then it is an integer
type(t)  // show integer

how we can make tuple of single value
t=(10,)
type(t)    //comma is required'''

In [ ]:
t=(10,)
type(t)

In [ ]:
l = [11,22,33,44]
t = tuple(l)
type(l)            #we can store list as a tuple also

In [ ]:
t = tuple(21,22,33)
type(t)

In [ ]:
a = 1
b=2
c=3
t=a,b,c
print(t)

type(t)

In [ ]:
t = (10,20,30)
a,b,c            #how to discreate values

In [ ]:
A = 1,2,3
B = 5,6,7
C = print(A+B)       #concatenation

In [ ]:
# tuple will not be change if repetition operator is access
#but if you want to to change the update the tuple then you will

In [ ]:
'''a=1,2,3
b=4,5,6
a=b    a ki value ko b ko assign kar raha h         # assignment operators right to left precedence h
a==b  #true     comparison

c=1,2,4
a==c         #false

A<C
false because we take tuple in small a and b'''

In [ ]:
'''we can use 2 method for taking input as tuple
1. tuple(input()): as input () will return string that will be converted itno tuple which will be stored in variable
see in example that will consider ',' as a part of tuple'''

#input hamesha string leti h

In [17]:
a = tuple(input("Enter your name"))
print(a)

Enter your name khushi
(' ', 'k', 'h', 'u', 's', 'h', 'i')

In [16]:
#eval
eval("5+2")

7

In [15]:
x = eval(input("enter a tuple"))
print(x)                            # eval jo bhi input me lete ho woh expression ki tarah treat karta h and jaha bhi eval loge waha expression bhi calsulate kar sakte ho

type(x)

enter a tuple 5
5

int

In [13]:
t = (1, 2, 3, 5, 6, 7,8,9,10)      #sum of tuple
sum(t)

51

In [12]:
t = (1, 2, 3, 5, 6, 7,8,9,10)
len(t)                             #length of tuple    syntax: length(variable)

9

In [11]:
a = (1,2,1,3,1,4,1,5,6,7)
a.count(1)                   #count the element in tuple      syntax: variable.count(element)

4

In [10]:
a = (1,2,1,3,1,4,1,5,6,7)
a.index(4)                   #indexing in tuple           syntax: variable.index(element)

5

In [9]:
a = (1,2,1,3,1,4,1,5,6,7)
max(a)                     #maximum value in a particular tuple    #syntax: max(variable)

7

In [8]:
a = (2,6,7,8,10,100,50)
min(a)                           #minimun value in a particular tuple   #syntax: min(variable)

2

In [7]:
A = [10,100,200,500,60]
min(A)

10

In [6]:
A = [10,100,200,500,60]
max(A)

500

In [5]:
A = [100,500,1000,]
B = [600,700,300]
max(A+B)

1000

In [4]:
A = [100,500,1000,]
B = [600,700,300]
min(A+B)

100

In [ ]:

#sets iss as unordered collection of data type that is iterable(retition)mutable and and has no duplicate element. python set class represents tht mathematical notion of a set. # Set is a datatype
'''this is based on the data srtructure known s hash table since sets is unordered we cannot access items using indexes like we do in lists (indexing is bot allow)'''

In [2]:
normal_set = set({"a","b","c"})
print("normal set")
print(normal_set)          #normal set

normal set
{'c', 'b', 'a'}

In [3]:
#frozen set
frozen_set = frozenset({"a","b","c"})
print("frozen set")
print(frozen_set)

frozen set
frozenset({'c', 'b', 'a'})

In [ ]:
'''frozen set are immutable objects that only methods and operators tat produce a result without affecting the frozen set or sets to which they are applied. while elements of a set can be modified at any time elements of the frozen set remain the same after creation '''

In [ ]:
#METHODS OF SET
'''adding element
insertion in set is done through set.add() function.'''

In [18]:
people = {"jay","archi","irish"}
print("people:",end = " ")
people.add("david")            #set.add()
print(people)

people: {'archi', 'jay', 'david', 'irish'}

In [19]:
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}      # {7,8} is the subset of the set 2

print(s1.union(s2))     #saare element ek hi set me jate h aur 2 same element me ek hi set me aa jate h

print(s1.intersection(s2))   # jo same element hote dono eset me woh ek sath aa jate h

{1, 3, 6, 7, 8, 45, 78}
{1, 78}

In [20]:
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}      # {7,8} is the subset of the set 2

print(s1|s2)        #| use as a operator for union we use union and | this for uniting two sets

{1, 3, 6, 7, 8, 45, 78}

In [21]:
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}

s3 = {6,100,200,300,400}

s4 = {600,700,800,900,300}

print(s1|s2|s3|s4)

{800, 1, 3, 100, 900, 6, 7, 8, 200, 300, 45, 78, 400, 600, 700}

In [22]:
s = set()

set1 = set() # Corrected: Initialize set1
for i in range(5):
    print(i)
    set1.add(i)

set2 = set() # Corrected: Initialize set2
for i in range(3,5):
    print(i)
    set2.add(i)

set3 = set1.intersection(set2) # Corrected: Use the intersection method correctly
print(set3) # Added print to show the result

0
1
2
3
4
3
4
{3, 4}

In [23]:
s1 = {1,3,45,6,78}     #{1,45} is the subset of the set 1

s2 = {7,8,1,78}

s3 = {6,100,200,300,400}

s4 = {600,700,800,900,300}

diff1 = s1-s2
diff2 = s4-s3
print(diff1)
print(diff2)

{3, 45, 6}
{800, 900, 600, 700}

In [ ]:
#disjoint set = similiar set

In [24]:
#DICTIONARY is the key value pair
student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "city": "New York"
}

print(student)

{'name': 'John', 'age': 20, 'grade': 'A', 'city': 'New York'}

In [25]:
marks = {
    "Harry" : 56,
    "Rohan" : 100,
    "Shubham" : 23,

}

print(marks.keys())
print(marks.values())

dict_keys(['Harry', 'Rohan', 'Shubham'])
dict_values([56, 100, 23])

In [ ]:
#add a new keys in a dictionary
#update a new key
#to delete (del)

In [26]:
marks = {
    "Harry" : 56,
    "Rohan" : 100,
    "Shubham" : 23,
}
marks.update({"Akanksha":45})         #+= update
print(marks)

{'Harry': 56, 'Rohan': 100, 'Shubham': 23, 'Akanksha': 45}

In [27]:
marks = {
    "Harry" : 56,
    "Rohan" : 100,
    "Shubham" : 23,
}
del marks["Harry"]
print(marks)

{'Rohan': 100, 'Shubham': 23}

In [28]:
marks = {
    "Harry": 56,
    "Rohan": 100,
    "Shubham": 23,
}

# Correct way to add a new item to a dictionary
marks["Akanksha"] = 45

print(marks)

{'Harry': 56, 'Rohan': 100, 'Shubham': 23, 'Akanksha': 45}

In [ ]:
#f string to formatting the output

In [ ]:
#FUNCTIONS
'''curly braces
processor of the function,subroutine (name of function)
reusability
def my_function()
 function
 #function calling
 my_function()'''

def hello_world():
  print("hello world")
  hello_world()                 #kisi bhi function ko call karne ke liye function aur uske sath parenthesis

In [ ]:
def hello_world():
  print("hello world")
  hello_world()  # infinite recursive call

  hello_world()

In [ ]:
#defining the funtion
def func(name):
  print("Hi", name)

# function call
func("khushi")

In [ ]:
def sum(a,b):
  return a+b
a = int(input("Enter a:"))
b = int(input("Enter b:"))

print("Sum =" , sum(a,b))

In [ ]:
# required arguement = the arguement name is required in the program
def func(name):
  message = "Hi"+name
  return message;
name = input("Enter your name:")
print(func(name))

In [ ]:
#simple interest program
def simple_interest(p,t,r):
  return(p*t*r)/100
  p = float(input("Enter the principal amount:"))
  t = float(input("Enter the time:"))
  r = float(input("Enter the rate:"))
  print("Simple interest")

In [ ]:
#after function calculate returns the sum of two required function

In [ ]:
#Keyword Arguement
#function func is called with the name and message as the keyword arguement
def func(name,message):
  print("printing the message with" name and ,"message")

In [ ]:
def simple_interest(p,t,r):
  interest = (p*t*r)/100
  print("Simple interest:",interest)
  # print(f"simple interest = {interest}") # This line is redundant now

simple_interest(t=10,r=10,p=1900)

In [ ]:
#Default Arguement
def printme(name,age=22):
  print("My name is",name,"and age is",age)
  printme(name="john")

  #printme(age=10,name="david") to update the name and age which is used as default in above

In [ ]:
#RECURSION
'''Definition:
Recursion is a programming technique where a function calls itself to solve a smaller part of a larger problem.

SYNTAX

def recursive_function():
    # base case (stopping condition)
    if condition:
        return result
    else:
        # recursive case
        return recursive_function()  # function calling itself'''

In [1]:
def factorial(n):
    if n == 0 or n == 1:
        return 1   # base case
    else:
        return n * factorial(n - 1)  # recursive call

print(factorial(5))

120